.leafPopup {
  display: flex;
  flex-direction: column;
  width: 422px;
  box-sizing: border-box;
  padding: 4px 0;
  background-color: #fff;
 

  .leafPopup__category {
    @extend %text-circe-16;
    @extend %silly-link;
    color: $middle-dark-color-default;
  }


  .leafPopup__title {
    @extend %title-h4;

  }
  .leafPopup__status {
    @extend %text-circe-16;
    color: $middle-dark-color-default;
    margin: 0;
  }

  .leafPopup__showmore {
    @extend %blue-link;
    @extend %text-circe-16;
  }

  .leafPopup__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
  }

  .leafPopup__author {
    @extend %text-circe-16;
    margin: 0;
  }

  .ideas__like {
    background-color: transparent;
  }

  .leafPopup__like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    

    .ideas__like-counter {
      @extend %text-circe-16;
      color: $dark-color-hovered;
    } 

  }
}


.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
}

.leaflet-popup-content {
  width: auto !important;
}

.leaflet-popup-close-button {
  font-size: 24px !important;
  top: 6px !important;
  right: 6px !important;
  @extend %silly-link;
}

.controll {
  height: 44px;
  width: auto;
  position: relative;
  display: block;

  &.controll_zoomIn {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;

    &::before {
      content: url(../../images/icons/zoom-in-icon.svg);
      height: 48px;
      width: 48px;
      display: block;
    }    
  }

  &.controll_zoomOut {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;

    &::before {
      content: url(../../images/icons/zoom-out-icon.svg);
      height: 48px;
      width: 48px;
      display: block;
    }    
  }

  &.controll_center {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/default-extent-icon.svg);
      height: 38px;
      width: 34px;
      display: block;
    }    
  }

  &.controll_baselayer {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/baselayers-icon.svg);
      height: 34px;
      width: 34px;
      display: block;
    }    
  }

  &.controll_fullscreen {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/full-screen-icon.svg);
      height: 30px;
      width: 30px;
      display: block;
    }    
  }

  &.controll_smallscreen {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/smalll-screen-icon.svg);
      height: 30px;
      width: 30px;
      display: block;
    }    
  }
  
  &.controll_add {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/add-idea-icon.svg);
      height: 30px;
      width: 30px;
      display: block;
    }    
  }
  &.controll_layers {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $dark-color-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: url(../../images/icons/layers-icon.svg);
      height: 30px;
      width: 30px;
      display: block;
    }    
  }
}
