.tabs {
  display: flex;
  flex-direction: column;
  max-width: calc(1440px - 10%);
  width: 90%;
  margin: 56px auto 0px;
}

.tabs_pushed {
  margin-bottom: 56px;

  @media screen and (max-width: 960px) {
    margin-bottom: 12px;
  }
}

.tabs__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 40px;
  width: 100%;
  column-gap: 24px;

  .tabs__link {
    @include text-circe-18;
    @include blue-link;
    flex-shrink: 0;
  }

  @media screen and (max-width: 550px) {
    margin: 0 auto 24px;
  }
}

.tabs__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 24px;
  padding: 0;
  list-style: none;

  background-color: $light-color-default;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;



  @media screen and (max-width: 550px) {
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 0;
  }
}

.tabs__nav-btn {
  border: none;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  padding: 4px 10px;
  
  color: $middle-dark-color-default;
  @include text-circe-18;
  @include silly-link;
  @include transition;

  text-decoration: none;    
  overflow-anchor: none;

  &:hover {
    color: $middle-dark-color-onclick;
  }

  &:active {
    color: $primary-color-onclick;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    display: block;
    
  }

  &.tabs__nav-btn_disabled {
    color: $middle-dark-color-default;
    cursor: default;
    pointer-events: none;

    &:hover {
      color: $middle-dark-color-default;
    }
  }

  &.tabs__nav-btn_active {
    color: $primary-color-default;
    border-radius: 4px;
    background: #fff;
  }
  
}


.tabs__panel {
  display: none;

  &.tabs__panel_active {
    display: block;  
  }
}


.tabs ~ .pagination  {
  margin-bottom: 80px;
}