.about-project {
  max-width: calc(1440px - 10%);
  width: 90%;
  margin: 0 auto 80px;

  .about-project__title {
    @extend %title-h2;
    max-width: 644px;
    width: 100%;
    margin: 0 auto $spacer-m;
  }

  .about-project__list {
    display: flex;
    flex-direction: column;
    row-gap: $spacer-m;

    margin: 0 auto;
    padding: 0;
    list-style: none;

    max-width: 644px;
    width: 100%;
  }

  .about-project__item {
    display: flex;
    flex-direction: column;
    row-gap: $spacer-xxs;


    &-title {
      @extend %title-h4;
    }

    &-text {
      @extend %text-lora;
    }
  }

}