.article {
  display: flex;
  flex-direction: column;
  row-gap: $spacer-s;
  max-width: 644px;
  width: 90%;
  margin: 80px auto;

  .article__title {
    @extend %title-h2;
  }

  .article__text {
    display: flex;
    flex-direction: column;
    row-gap: $spacer-xs;
    p {
      @extend %text-lora;
    }

    a {
      @extend %blue-link;
    }
  }
}