.classificator {
  display: flex;
  flex-direction: column;
  max-width: calc(1440px - 10%);
  width: 90%;
  margin: 0 auto 80px;

  .classificator__title {
    @extend %title-h2;
    margin-bottom: $spacer-m;
  }

  .classificator__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: $spacer-xs;
    column-gap: $spacer-m;
    justify-content: center;
  }

  .classificator__item {
    flex-shrink: 0;
    
    a {
      @extend %silly-link;
      @extend %text-circe-18;
    }

    &:hover {
      a {
        color: $primary-color-hovered;
      }
    }

    &:active {
      a {
        color: $primary-color-onclick;
      }
    }

    &.active {
      a {
        color: $primary-color-onclick;
      }
    }
  }
}