 .header{
  width: 100%;
  z-index: 555;
  height: 100px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0px 27px 60px rgba(131, 139, 163, 0.15), 
              0px 9.85544px 21.901px rgba(131, 139, 163, 0.09), 
              0px 4.78464px 10.6325px rgba(131, 139, 163, 0.07), 
              0px 2.34552px 5.21226px rgba(131, 139, 163, 0.07), 
              0px 0.927421px 2.06094px rgba(131, 139, 163, 0.06);
            
  @media screen and (max-width: $tablet) { 
    height: 80px;
   }       
              
  .header__container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__logo {
    @extend %silly-link;  
    display: flex;
    line-height: 0;
    font-size: 0;
    background-image: url(../../../images/logos/main-logo.svg);
    background-size: cover;
    background-position: center;
    width: 74px;
    height: 74px;
    z-index: 98;

    @media screen and (max-width: $tablet) {
      background-image: url(../../../images/logos/main-logo-old-black.svg);  
      width: 83px;
      height: 40px; 
      position: absolute;
      top: 20px;
      left: 5%;
     }
  }

  .header__body {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;

    @media screen and (max-width: $tablet) {
      margin-right: auto;
      flex-direction: column;
      width: 100%;
    }
  }

  .header__burger {
    @extend %silly-link;  
    z-index: 98;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:  $spacer-base / 2;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 auto;
    border: none;
    background-color: transparent;

    &:hover {
      .header__burger-lines {
        background-color: $middle-dark-color-hovered;
      }
    }

    @media screen and (max-width: $tablet) {
      display: flex;   
    }
  }

  .header__burger-lines {
    width: 24px;
    height: 2px;
    background-color: $middle-dark-color-onclick;
    @extend %transition;
    transition-property: all;

  }
  
  .header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    z-index: 2;
    padding: 0;
    margin: 0;
    column-gap: $spacer-xs;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      row-gap: $spacer-s;
      position: absolute;
      width: 100%;
      height: calc(100vh - 80px);
      top: -100vh;
      left: 0;
      background-color: $dark-color-default;
      color: $light-color-default;
      box-sizing: border-box;
      padding-top: $spacer-xxl;
    }
  }

  .header__list-social {
    display: none;
    margin-top: auto;
    box-sizing: border-box;
    padding: $spacer-l 0;
    border-top: 2px solid $active-text-color;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: $spacer-s;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 0;
        line-height: 0;
      }

      .header__link {
        font-size: 0;
        line-height: 0;
      }

      svg {
        @extend %transition;
        transition-property: fill;
        fill: $light-color-default;
      }

      .header__link:hover svg {
        fill: $middle-dark-color-hovered;
      }
    }

    @media screen and (max-width: $tablet) {
      display: flex;
    }

  }

  .header__link {
    @extend %title-h4;
    @extend %silly-link;
    @extend %transition;
    transition-property: color;
    
    &:hover {
      color:$dark-color-hovered;

      @media screen and (max-width: $tablet) {
        color:$middle-dark-color-hovered;
      }
    }
  }


  &.open {
    @media screen and (max-width: $tablet) {
      background-color: $dark-color-default;
      border-bottom: 2px solid $active-text-color;

      .header__list {
        top: 80px;
        transition-property: top;
        transition-duration: 0.5s;
        z-index: 97;
      }

      .header__logo {
        background-image: url(../../../images/logos/main-logo-old-white.svg);
      }
      
      .header__burger-lines{
        &:nth-of-type(1) {
          transform: rotate(45deg) translate(3px, 4px);
        }
        &:nth-of-type(2) {
          visibility: hidden;
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}


