.moderation__tables {
  .moderation__tables-item {
    @extend %silly-link;
    @extend %transition;
    border-top: 1px solid $dark-color-default;
    min-height: 90px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 0;
  }
}


.moderation__table {
  @extend %text-circe-18;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 5fr 1fr 2fr 1fr;
  column-gap: 8px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 2fr 2fr 5fr
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  
  li {
    text-align: left;
    word-break: break-word;
    &:nth-last-of-type(2){
      text-align: center;
    }
    &:nth-last-of-type(1){
      text-align: right;
    }

    @media screen and (max-width: 800px) {
      &:nth-last-of-type(1){
        display: none;
      }
      &:nth-last-of-type(2){
        display: none;
      }
    }

    @media screen and (max-width: 550px) {
      &:nth-last-of-type(1){
        display: flex;
      }
      &:nth-last-of-type(2){
        display: flex;
      }
    }
  }

  &.moderation__table_header {
    color: $middle-dark-color-default;
    min-height: 44px;
    align-items: center;

    @media screen and (max-width: 550px) {
      display: none;
    }
  }


  .moderation__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;

    .moderation__button {
      @extend %button; 
      background-color: transparent;
      padding: 0;
      min-height: auto;
      width: 24px;
      height: 24px; 
    }
  }
}